# DrinkData: Example drink config file.

[drink_info]
name = "Simple Cup Builder"
id = "scbd" # Drink ids cannot conflict.
#build_file_version = "1"

[git]
url = ""
branch = "master"
ssh_key_password = "" #TODO Implement!

internal_build_file = "NULL" # Uses the build file in the git project. If this option is used all options below this are ignored.

[export]
files = [ # Files to be moved to storage.
]

[build_ops]
wrk_dir = "" # Based off of the git created directory.
full_clean_build = false
clean_before_build = [
]
build_windows = true # Allow building on windows.
build_linux = true # Allow building on linux.
build_macos = true # Allow building on macos.
split_build = true # If this is true then the build cmds are different for every platform.
one_os_build = "" # windows, linux, macos. If this is one of these options then the build use use this platform to build other platform builds.

[build]
pre_check = [ # These cmds must exit with a code 0 for the build to be started.
]
cmds = [
]
test_cmds = [
]

[build_windows]
pre_check = [ # These cmds must exit with a code 0 for the build to be started.
]
cmds = [
    # ./gradlew --no-daemon -S build
]
test_cmds = [
]


[build_linux]
pre_check = [ # These cmds must exit with a code 0 for the build to be started.
]
cmds = [
]
test_cmds = [
]

[build_macos]
pre_check = [ # These cmds must exit with a code 0 for the build to be started.
]
cmds = [
]
test_cmds = [
]

# These add options may not override options in the scb.toml file.
[add_path]
windows = [
]
linux = [
]
macos = [
]

[add_env] # PROJECT_NAME, BUILD_FILE_VERSION, BUILD_COUNT, BUILD_START_TIME, BUILD_COMMIT

[alias] #TODO Implement!
