# DrinkData: Example drink config file.

[drink_info]
name = "Simple Script Prototype Drink"
build_file_version = "1"

[git]
url = ""
branch = "master"
dir_name = "ssp"
full_clean_build = false
ssh_key_password = "" #TODO Implement!

internal_build_file = "NULL" # Uses the build file in the git project. If this option is used all options below this are ignored.

[build_ops]
wrk_dir = "" # Based off of the git created directory.
clean_before_build = [
]
spilt_build = false # If this is true then the build cmds are different for every platform.

[build]
pre_check = [ # These cmds must exit with a code 0 for the build to be started.
]
cmds = [
]
test_cmds = [
]

[build_windows]
pre_check = [ # These cmds must exit with a code 0 for the build to be started.
]
cmds = [
    # ./gradlew --no-daemon -S build
]
test_cmds = [
]


[build_linux]
pre_check = [ # These cmds must exit with a code 0 for the build to be started.
]
cmds = [
]
test_cmds = [
]

[build_macos]
pre_check = [ # These cmds must exit with a code 0 for the build to be started.
]
cmds = [
]
test_cmds = [
]

# These add options may not override options in the scb.toml file.
[add_path]
windows = [
]
linux = [
]
macos = [
]

[add_env] # PROJECT_NAME, BUILD_FILE_VERSION, BUILD_COUNT, BUILD_START_TIME, BUILD_COMMIT

[alias] #TODO Implement!
